<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Codeforces Compete</title>
    <script src="js/compete.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
    <link rel="stylesheet" href="css/compete.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144934197-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-144934197-3');
    </script>

</head>

<body>
    <div class="container">

        <% if (typeof error == 'string' && error) { %>
        <div class="alert alert-warning" role="alert">
            <%= error %>
        </div>
        <% } %>

        <form action="/compete" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Your handle</label>
                <input type="text" class="form-control" name="user1" aria-describedby="emailHelp"
                    placeholder="Please enter your handle here">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Your rival's handle</label>
                <input type="text" class="form-control" name="user2" aria-describedby="emailHelp"
                    placeholder="Please enter your rival's handle here">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="row">
            <div class="col">
                <iframe
                    src="https://ghbtns.com/github-btn.html?user=dush1729&repo=Codeforces-Helper-Web&type=watch&count=true&size=large"
                    frameborder="0" scrolling="0" width="170px" height="30px">
                </iframe>
            </div>
        </div>

        <% if (typeof data == 'object' && data) { %>

        <ul class="list-group" style="width: 10rem;">
            <li class="list-group-item" style="color:green; font-size: large;">Won : <%= won %></li>
            <li class="list-group-item" style="color:red; font-size: large;">Lost : <%= lost %></li>
            <li class="list-group-item" style="color:blue; font-size: large;">Draw : <%= draw %></li>
        </ul>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Contest</th>
                    <th scope="col"><%= user1 %></th>
                    <th scope="col"><%= user2 %></th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(contest => { %>
                <tr <% if(contest.rank1 < contest.rank2) { %> style="background-color: #004830" <% } %>
                    <% if(contest.rank1 > contest.rank2) { %> style="background-color: #420D09" <% } %>
                    <% if(contest.rank1 == contest.rank2) { %> style="background-color: #241571" <% } %>>
                    <th scope="row"><a
                            href="https://codeforces.com/contest/<%= contest.contestId %>"><%= contest.contestName %></a>
                    </th>
                    <td><% if(isNaN(contest.rank1)) { %>
                        <%= "-" %>
                        <% } else { %>
                        <%= contest.rank1 %>
                        <% } %></td>
                    <td><% if(isNaN(contest.rank2)) { %>
                        <%= "-" %>
                        <% } else { %>
                        <%= contest.rank2 %>
                        <% } %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <% } %>
    </div>

</body>

</html>