<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Codeforces Contests</title>
    <script src="js/contests.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
    <link rel="stylesheet" href="css/contests.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144934197-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-144934197-3');
    </script>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <input class="form-control input-lg" type="text" id="contestInput" onkeyup="searchContests()"
                    placeholder="Type here to search contest.." style="margin-top: 10px">
            </div>
        </div>
        <div class="row">
            <div class="col" id="contests_type">
                <button onclick="filterContests('')" type="button" class="btn btn-outline-warning">All</button>
                <button onclick="filterContests('Div. 1 + Div. 2')" type="button" class="btn btn-outline-primary">Div. 1
                    + Div. 2</button>
                <button onclick="filterContests('(Div. 2')" type="button" class="btn btn-outline-info">Div. 2</button>
                <button onclick="filterContests('Div. 3')" type="button" class="btn btn-outline-success">Div. 3</button>
                <button onclick="filterContests('Educational')" type="button" class="btn btn-outline-danger">Educational
                    Round</button>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <iframe
                    src="https://ghbtns.com/github-btn.html?user=dush1729&repo=Codeforces-Helper-Web&type=watch&count=true&size=large"
                    frameborder="0" scrolling="0" width="170px" height="30px">
                </iframe>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-bottom:10px">
                <form class="form-inline" method="post" action="/contests">
                    <input class="form-control" name="handle" type="text" placeholder="enter handle"
                        <% if(handle) { %> value="<%= handle %>" <% } %>>
                    <button type="submit" class="btn btn-primary" style="margin-left:10px">Fetch Profile</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-hover">
                    <caption>List of users</caption>
                    <thead>
                        <tr>
                            <th scope="col">Contest</th>
                            <th scope="col">Problems</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < contests.length;  i++) { %>
                        <tr>
                            <td>
                                <a href="https://codeforces.com/contest/<%= contests[i].id %>"><%= contests[i].name %>
                            </td>
                            <td>
                                <nav aria-label="...">
                                    <ul class="pagination pagination-sm">
                                        <% contests[i].problems.forEach(problem => { %>
                                        <li class="page-item">
                                            <a class="page-link <% if(problem[1]) { %> btn-success <% } else { %> btn-danger <% } %>"
                                                href="https://codeforces.com/contest/<%= contests[i].id %>/problem/<%= problem[0] %>">
                                                <%= problem[0] %></a></li>
                                        <% }) %>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>